* {
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NorseBold";
  src: url("../fonts/Norse-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;

  font-family: Roboto, sans-serif;
  font-weight: 400;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(33.3%);
}

/* left side of the page */

#leftSide {
  background-image: url("../media/unsplash.jpg");
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#odinTitle {
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem 0;
  width: 100%;
  margin-top: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#odinTitle h1 {
  margin: 0;
  font-family: "NorseBold", sans-serif;
  font-size: 3.5rem;
  color: white;
}

#odinTitle img {
  height: 60px;
  width: auto;
}

#credit {
  color: white;
  font: 10px;
  font-weight: normal;
}

#credit a {
  color: white;
  font-weight: normal;
}

/* right side of the page */

.rightSide {
  padding: 10%;
  margin: 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightSide p {
  font-size: 18px;
  line-height: 1.5;
}

#signup {
  background-color: white;

  display: grid;
  grid-template-columns: repeat(50%);
  column-gap: 40px;
  row-gap: 20px;

  max-width: 800px;
}

#signup div {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

label {
  font-size: 75%;
  text-transform: uppercase;
  letter-spacing: 10%;
  color: #333;
}

input {
  padding: 1%;
  border: 0.1% solid darkgray;
  border-radius: 0.5%;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border: 10% solid #596d48;
  box-shadow: 0 0 5% blue;
}

input:invalid {
  border: 10% solid red;
}

#signup h2 {
  grid-column: 1 / 3;
  margin-bottom: 10px;
}

.submit {
  grid-column: 1 / 3;
}

h2,
button {
  font-weight: 700;
}

button {
  background-color: #596d48;
  color: white;
  font-size: 1rem;
  font-weight: bold;

  border: none;
  border-radius: 10%;

  padding: 2%;
}

/* log in button style */

#goToLog a:link {
  color: #596d48;
  text-decoration: none;
}

#goToLog a:visited {
  color: #596d48;
  text-decoration: none;
}

#goToLog a:hover,
#goToLog a:active {
  color: #596d48;
  text-decoration: underline;
}
